#tituloloqueno{position: absolute; font-size: 5em; font-family:Times New Roman, Times, serif; top:15; left:350; color:black;}
#fondoloqueno1{background-color: rgb(205,214,183); height: 100px; width:100%;border-radius-bottom:5px; box-shadow: 0 0 10px; }
#fondoloqueno2{background-color:  rgb(255,219,219); height: 1370px; width: 100%; margin-top: 2px;}
#centerloquenotexto1{position: absolute; top:120; left:300; right:300; color:black; text-align: justify; font-family: monospace, courier, Arial, sans-serif; }
#centerloquenofoto1{position: absolute; top:300; left:500;}
#centerloquenotexto2{position: absolute; top:570; left:300; right:300; color:black; text-align: justify; font-family: monospace, courier, Arial, sans-serif; }
#centerloquenofoto2{position: absolute; top:700; left:500;}
#centerloquenotexto3{position: absolute; top:980; left:300; right:300; color:black; text-align: justify; font-family: monospace, courier, Arial, sans-serif; }
#centerloquenofoto3{position: absolute; top:1180; left:500;}

ul {
position: fixed;
	margin-top: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
    width: 200px;
     border-radius-bottom:5px; box-shadow: 0 0 10px;
    background-color:rgb(133,189,224);
}

li a {
    display: block;
    color: #000;
    padding: 30px 60px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}